<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.br.law.mapper.assistant.AssistantSQLMapper">
		
	<select id="ApplicantList" resultType="map">
	
		SELECT * FROM TB_001 t1,TB_002 t2,TB_005 t5,TB_010 t10
		WHERE t1.USER_PROPER_NUM = t5.USER_PROPER_NUM 
		AND t5.ANNOUNCE_PROPER_NUM = t2.ANNOUNCE_PROPER_NUM 
		AND t5.TRIAL_FCLTT_PROPER_NUM = t10.TRIAL_FCLTT_PROPER_NUM 
		ORDER BY t5.APLCN_DTLS_PROPER_NUM asc
		  		
	</select>

	
	<select id="ApplicantDetails" resultType="map">
		
		SELECT * FROM TB_001 t1,TB_002 t2 ,TB_005 t5, TB_006 t6, TB_007 t7,TB_010 t10,TB_011 t11
		WHERE   
		t1.USER_PROPER_NUM = t5.USER_PROPER_NUM AND
		t5.COURT_PROPER_NUM = t11.COURT_PROPER_NUM AND
		t5.APLCN_DTLS_PROPER_NUM = t6.APLCN_DTLS_PROPER_NUM AND 
		t6.APLCN_DTLS_PROPER_NUM = t7.APLCN_DTLS_PROPER_NUM AND
		t10.TRIAL_FCLTT_PROPER_NUM = t2.TRIAL_FCLTT_PROPER_NUM
		ORDER BY t5.APLCN_DTLS_PROPER_NUM DESC 

	</select>
	
	<select id="certificate" resultType="map">
		SELECT * FROM TB_008 WHERE aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>
	
	
	<select id="uploadFile" resultType="map">
		select * from tb_009 where aplcn_dtls_proper_num = #{aplcn_dtls_proper_num}
	</select>
	
	<select id="announce" resultType="map">
		SELECT ANNOUNCE_TITLE FROM TB_002	
	</select>
	
	<select id="TRIAL_FCLTT_NAME" resultType="map">
		SELECT TRIAL_FCLTT_DESCRIPTION FROM TB_010
	</select>
	
	<select id="announceSelect" resultType="map">
	
		SELECT * FROM TB_001 t1,TB_002 t2 ,TB_005 t5, TB_006 t6, TB_007 t7,TB_010 t10,TB_011 t11
		WHERE   
		t1.USER_PROPER_NUM = t5.USER_PROPER_NUM AND
		t5.COURT_PROPER_NUM = t11.COURT_PROPER_NUM AND
		t5.APLCN_DTLS_PROPER_NUM = t6.APLCN_DTLS_PROPER_NUM AND 
		t6.APLCN_DTLS_PROPER_NUM = t7.APLCN_DTLS_PROPER_NUM AND
		t10.TRIAL_FCLTT_PROPER_NUM = t2.TRIAL_FCLTT_PROPER_NUM AND
		t2.ANNOUNCE_PROPER_NUM = #{announce_proper_num}
		ORDER BY t5.APLCN_DTLS_PROPER_NUM DESC
		
	</select>
	
	
	<select id="trialSelect">
		SELECT * FROM TB_001 t1,TB_002 t2 ,TB_005 t5, TB_006 t6, TB_007 t7,TB_010 t10,TB_011 t11
		WHERE   
		t1.USER_PROPER_NUM = t5.USER_PROPER_NUM AND
		t5.COURT_PROPER_NUM = t11.COURT_PROPER_NUM AND
		t5.APLCN_DTLS_PROPER_NUM = t6.APLCN_DTLS_PROPER_NUM AND 
		t6.APLCN_DTLS_PROPER_NUM = t7.APLCN_DTLS_PROPER_NUM AND
		t10.TRIAL_FCLTT_PROPER_NUM = t2.TRIAL_FCLTT_PROPER_NUM AND 
		t10.TRIAL_FCLTT_PROPER_NUM = #{TRIAL_FCLTT_PROPER_NUM}
		ORDER BY t5.APLCN_DTLS_PROPER_NUM DESC
	</select>
	
	<insert id="evaluationApplicants">
		insert into TB_013 values(
		TB_013_seq.nextval,
		#{aplcn_dtls_proper_num},
		#{admin_proper_num},
		#{all_carrer_score},
		#{jrsdc_carrer_score},
		#{office_score},
		#{personality_score},
		#{interview_score},
		#{certificate_score},
		#{evaluate_score},
		#{judge_recom_score},
		#{review_etc}
		)
	</insert>
	
	<update id="accept">
		UPDATE TB_005 SET APLCN_DTLS_STS = 'accept'WHERE APLCN_DTLS_PROPER_NUM = #{aplcn_dtls_proper_num}
		AND
		(SELECT sum(ALL_CARRER_SCORE+JRSDC_CARRER_SCORE+OFFICE_SCORE+PERSONALITY_SCORE+INTERVIEW_SCORE+CERTIFICATE_SCORE+EVALUATE_SCORE+JUDGE_RECOM_SCORE) FROM TB_013 t13
		WHERE APLCN_DTLS_PROPER_NUM = #{aplcn_dtls_proper_num}) >= 40
		
	</update>
	
	<update id="referral">
		UPDATE TB_005 SET APLCN_DTLS_STS = 'referral' WHERE APLCN_DTLS_PROPER_NUM = #{aplcn_dtls_proper_num}
		AND
		(SELECT sum(ALL_CARRER_SCORE+JRSDC_CARRER_SCORE+OFFICE_SCORE+PERSONALITY_SCORE+INTERVIEW_SCORE+CERTIFICATE_SCORE+EVALUATE_SCORE+JUDGE_RECOM_SCORE) FROM TB_013 t13
		WHERE APLCN_DTLS_PROPER_NUM = #{aplcn_dtls_proper_num}) &lt; 40
	</update>
	
	<!-- 220928 하다 조건별 불러오기 -->
	<select id="callTb_010" resultType="com.br.law.vo.Tb_010" >
		SELECT * FROM TB_010 ORDER BY TRIAL_FCLTT_PROPER_NUM asc
	</select>
	
	<!-- 220928 하다 공고별 불러오기 -->
	<select id="callTb_002" resultType="com.br.law.vo.Tb_002" >
		SELECT * FROM TB_002 ORDER BY ANNOUNCE_PROPER_NUM asc
	</select>
	
	<!-- 220928 하다 조건별 유저 불러오기 -->
	<select id="callAUser" resultType="map" >
		SELECT * FROM TB_001 t, TB_005 t2, TB_010 t3 
		WHERE t.USER_PROPER_NUM = t2.USER_PROPER_NUM 
		AND t2.TRIAL_FCLTT_PROPER_NUM = t3.TRIAL_FCLTT_PROPER_NUM
		AND t2.TRIAL_FCLTT_PROPER_NUM = #{trial_fcltt_proper_num}
		ORDER BY t2.APLCN_DTLS_PROPER_NUM asc
	</select>
	
	<!-- 220928 하다 공고별 유저 불러오기 -->
	<select id="callCUser" resultType="map" >
		SELECT * FROM TB_001 t, TB_002 t2, TB_005 t3, TB_010 t4 
		WHERE t.USER_PROPER_NUM = t3.USER_PROPER_NUM
		AND t2.ANNOUNCE_PROPER_NUM = t3.ANNOUNCE_PROPER_NUM
		AND t3.TRIAL_FCLTT_PROPER_NUM = t4.TRIAL_FCLTT_PROPER_NUM
		AND t2.ANNOUNCE_PROPER_NUM  = #{announce_proper_num}
		ORDER BY t3.APLCN_DTLS_PROPER_NUM asc
	</select>
	
</mapper>