<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.br.law.mapper.member.FaqSQLMapper">

	<insert id="insertFaq">
		INSERT INTO TB_004 VALUES(
			TB_004_seq.nextval,
			#{admin_proper_num},
			#{faq_ask_content},
			#{faq_ask_comment}
		)
	</insert>
	
	<select id="selectAll" resultType="com.br.law.vo.Tb_004">
		SELECT * FROM TB_004 ORDER BY faq_proper_num DESC
	</select>

	<select id="selectByNo" resultType="com.br.law.vo.Tb_004">
		SELECT * FROM TB_004
		WHERE faq_proper_num = #{faq_proper_num}
	</select>
	
	<delete id="deleteByNo">
		DELETE FROM TB_004 
		WHERE faq_proper_num = #{faq_proper_num}
	</delete>

	<update id="updateFaq">
		UPDATE TB_004
		SET faq_ask_content = #{faq_ask_content} , 
		faq_ask_comment = #{faq_ask_comment}
		WHERE faq_proper_num = #{faq_proper_num}
	</update>


</mapper>
